<mat-card>
    <div class="row">
        <div class="example-button-container col-3">
            <button (click)="openDialog()" mat-fab color="warn" aria-label="Example icon button with a home icon">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <mat-card-header class="col-9">
            <mat-card-title>سلسلة الختمات</mat-card-title>
            <mat-card-subtitle>ابحث عن ختمة أو إفتتح واحدة جديدة</mat-card-subtitle>
        </mat-card-header>
    </div>
    <mat-card-content>
    </mat-card-content>
    <mat-card-content>
        <mat-selection-list *ngFor="let seal of content.sealslist; " [multiple]="false">
            <mat-list-option (click)="shareSelectedSeal(seal)">
                <p class="col-11">{{seal.title}} </p>
                <button mat-icon-button class="col-1" (click)="deleteSeal(seal._id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-option>
        </mat-selection-list>
    </mat-card-content>
</mat-card>