<mat-card style="background-color: #002d4e;">
    <div class="row">
        <mat-card-actions class="col-6 row">
            <button mat-button (click)="updateSeal()">سجّل</button>
            <button mat-button (click)="openDialog()">إقرأ الدّعاء</button>
        </mat-card-actions>
        <mat-card-header class="col-6" style="justify-content: flex-end;">
            <mat-card-title style="color: #e1bc52; text-align: end;">{{content.tableHeader.title}}</mat-card-title>
            <mat-card-subtitle style="text-align: end;">إختر جزء أو أكثر لقرآءته</mat-card-subtitle>
        </mat-card-header>
    </div>
    <div class="row" style="background-color: #af7428;">
        <span class="col-1" style="color: #001b30">{{content.sealProgress}}%</span>
        <mat-progress-bar class="col-7" style="height: 6px; margin-top: 1vh;
        " color='accent' mode="determinate" value="content.sealProgress"></mat-progress-bar>
        <span class="col-4" style="text-align: center; color: #001b30;">تقدّم الختمة</span>

    </div>
    <mat-card-content>
        <div class="example-container table-responsive mat-elevation-z8">
            <table mat-table [dataSource]="content.sealdetails">
                <ng-container matColumnDef="progress">
                    <th mat-header-cell *matHeaderCellDef style="color: #e1bc52;"> التقدم </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <mat-form-field style="width: 80%;">
                            <mat-label>{{element.status}}</mat-label>
                            <mat-select [(value)]="states[i+1]">
                                <mat-option>لم تقرأ</mat-option>
                                <mat-option value="reading">في طور القراءة</mat-option>
                                <mat-option value="read">قرأت</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="reader">
                    <th mat-header-cell *matHeaderCellDef style="color: #e1bc52;">القارئ</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <form style="text-align: center;">
                            <mat-form-field style="width: 80%;">
                                <mat-label>{{element.reader}}</mat-label>
                                <input matInput [(ngModel)]="readers[i+1]" name="reader" ngDefaultControl
                                    placeholder="القارئ">
                            </mat-form-field>
                        </form>
                    </td>
                </ng-container>

                <ng-container matColumnDef="part">
                    <th mat-header-cell *matHeaderCellDef style="color: #e1bc52;"> الجزء </th>
                    <td mat-cell *matCellDef="let element"> {{element.part}} </td>
                </ng-container>

                <ng-container matColumnDef="chapter">
                    <th mat-header-cell *matHeaderCellDef style="color: #e1bc52;"> السورة </th>
                    <td mat-cell *matCellDef="let element" class="font"> {{element.chapters}} </td>
                </ng-container>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef style="color: #e1bc52;"> الترتيب </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>