table {
  width: 100%;
}

.table-responsive {
  overflow-y: scroll;
  height: 55vh;
  display: block;
}

.table-responsive table {
  background-color: #001b30;
}

@media (min-height: 550px) {
  .full-height {
    height: 34vh;
  }
}

@media (min-height: 800px) {
  .full-height {
    height: 75vh;
  }
}

@media (min-height: 1200px) {
  .full-height {
    height: 81vh;
  }
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #001b30 #e1bc52;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #e1bc52;
}

*::-webkit-scrollbar-thumb {
  background-color: #001b30;
  border-radius: 20px;
  border: 3px solid #e1bc52;
}

.mat-header-cell {
  text-align: center;
}

.mat-cell {
  text-align: center;
  height: 12vh;
}

:host /deep/.mat-progress-bar.mat-accent .mat-progress-bar-buffer {
  background-color: #b1a47e;
}

:host /deep/.mat-progress-bar.mat-accent .mat-progress-bar-fill::after {
  background-color: #002d4e;
}
