table {
  width: 100%;
}

.table-responsive {
  overflow-y: scroll;
  height: 60vh;
  display: block;
}

.table-responsive table {
  background-color: #001b30;
}

@media (min-height: 550px) {
  .full-height {
    height: 34vh;
  }
}

@media (min-height: 800px) {
  .full-height {
    height: 75vh;
  }
}

@media (min-height: 1200px) {
  .full-height {
    height: 81vh;
  }
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #001b30 #e1bc52;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #e1bc52;
}

*::-webkit-scrollbar-thumb {
  background-color: #001b30;
  border-radius: 20px;
  border: 3px solid #e1bc52;
}

.mat-header-cell {
  text-align: center;
  color: #e1bc52;
  font-weight: 600;
}

.mat-cell {
  text-align: center;
  height: 12vh;
}

mat-card {
  background-color: #002d4e;
}

mat-card-title {
  color: #e1bc52;
  text-align: end;
}

mat-card-subtitle {
  text-align: end;
}

mat-progress-bar {
  height: 6px;
  margin-top: 1vh;
}
.progression {
  background-color: #af7428;
}

.blue-text {
  color: #001b30;
}

mat-card-header {
  justify-content: flex-end;
}

form {
  text-align: center;
}

mat-form-field {
  width: 80%;
}

mat-card-actions {
  text-align: center;
}
mat-card-actions button {
  background-color: #001b30;
}

::ng-deep .mat-option-text {
  text-align: end;
}

.mat-column-part {
  min-width: 50px;
}

.mat-column-chapter {
  min-width: 150px;
}

.mat-column-reader {
  max-width: 80px;
}

.mat-column-progress {
  max-width: 170px;
}

.mat-column-id {
  max-width: 50px;
}

::ng-deep .mat-form-field-infix {
  text-align: end;
}

::ng-deep .mat-select-panel {
  background-color: #002d4e;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #e1bc52 !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #e1bc52 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #e1bc52 !important;
}

.italized {
  font-style: italic;
  font-weight: 200;
}