table {
  width: 100%;
}

.table-responsive {
  overflow-y: scroll;
  height: 55vh;
  display: block;
}


.table-responsive table {
  background-color: #001b30;
}

@media (min-height: 550px) {
  .full-height {
    height: 40vh;
  }
}

@media (min-height: 800px) {
  .full-height {
    height: 78vh;
  }
}

@media (min-height: 1200px) {
  .full-height {
    height: 80vh;
  }
}


@media (min-width: 300px) {
  nav {
    background-image: url(../../assets/images/navbar-xsmall.png);
    height: 7em;
  }
}

@media (min-width: 600px) {
  nav {
    background-image: url(../../assets/images/navbar-small.png);
    height: 10em;
  }
}

@media (min-width: 900px) {
  nav {
    background-image: url(../../assets/images/navbar-medium.png);
    height: 14em;
  }
}

@media (min-width: 1200px) {
  nav {
    background-image: url(../../assets/images/navbar-large.png);
    height: 16em;
  }
}

@media (min-width: 1500px) {
  nav {
    background-image: url(../../assets/images/navbar-xlarge.png);
    height: 16.5em;
  }
}

nav a {
  background: linear-gradient(
    to bottom,
    #b2792a 22%,
    #634f2c 24%,
    #cfc09f 26%,
    #d9af4b 27%,
    #f2d360 40%,
    #3a2c0f 78%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  text-transform: uppercase;
  font-size: 4vw;
  margin: 0;
  font-weight: 200;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand {
  color: beige;
  margin: 10px;
}

nav img {
  float: right;
}

.mat-list-item {
  display: inline;
}

:host /deep/ .mat-form-field-infix {
  border-top: 0em;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #001b30 #e1bc52;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #e1bc52;
}

*::-webkit-scrollbar-thumb {
  background-color: #001b30;
  border-radius: 20px;
  border: 3px solid #e1bc52;
}
