table {
  width: 100%;
}

.table-responsive {
  overflow-y: scroll;
  height: 60vh;
  display: block;
}

.full-height {
  height: 88.5vh;
}

nav {
  background-image: url(../../assets/images/navbar.png);
  height: 16em;
}

nav a {
  background: linear-gradient(
    to bottom,
    #cfc09f 22%,
    #634f2c 24%,
    #cfc09f 26%,
    #cfc09f 27%,
    #ffecb3 40%,
    #3a2c0f 78%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  text-transform: uppercase;
  font-size: 4vw;
  margin: 0;
  font-weight: 200;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand {
  color: beige;
  margin: 10px;
}

nav img {
  float: right;
}

.mat-list-item {
  display: inline;
}

:host /deep/ .mat-form-field-infix {
  border-top: 0em;
}
