table {
  width: 100%;
}

.table-responsive {
  overflow-y: scroll;
  height: 60vh;
  display: block;
}

.full-height {
  height: 88.5vh;
}

nav {
  background-color: #274b09;
}

.navbar-brand {
  color: beige;
  margin: 10px;
}

nav img {
  float: right;
}

.mat-list-item {
  display: inline;
}
