.back-image {
  background-image: url(../../assets/images/prayer-background.png);
}

p {
  text-align: center;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #e1bc52;
  font-size: 1vw;
}

.dialog-title {
  text-align: center;
  background-color: #001b30;
  color: #e1bc52;
}
