mat-form-field {
  text-align: end;
  float: right;
}

.container {
  -webkit-box-pack: start;
}

.mat-dialog-actions {
  float: right;
}

.mat-dialog-title {
  text-align: end;
}

.no-button {
  background-color: rgb(69, 69, 95);
  color: rgb(255, 255, 255);
}

.yes-button {
  background-color: rgb(201, 154, 0);
  color: rgb(255, 255, 255);
}
