<div class="container">
    <h4 mat-dialog-title>افتتح ختمة جديدة</h4>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>المناسبة</mat-label>
            <input matInput [(ngModel)]="data">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button class="no-button" (click)="onNoClick()">لا</button>
        <button mat-button class="yes-button" (click)="createNewSeal()" [mat-dialog-close]="data" cdkFocusInitial>نعم</button>
    </div>
</div>
