@import "@angular/material/prebuilt-themes/purple-green";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~material-icons/iconfont/material-icons.css";
@import "~font-awesome/css/font-awesome.css";

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "Amiri";
  src: url("./assets/fonts/Amiri/Amiri-Regular.ttf") format("truetype");
}

* {
  font-family: "system-ui", sans-serif;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #001b30 #e1bc52;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #e1bc52;
}

*::-webkit-scrollbar-thumb {
  background-color: #001b30;
  border-radius: 20px;
  border: 3px solid #e1bc52;
}
.mat-dialog-container {
  padding: 0 !important;
}

.mat-list-text {
  display: contents !important;
}

.mat-progress-bar-buffer {
  background-color: #b1a47e;
}
.mat-progress-bar-fill::after {
  background-color: #002d4e;
}
